<form>
  <h2 class="glitch" data-text="Create a bet">Create a bet</h2>
  <h2 class="glow">Create a bet</h2>
    <div class="form-group">
      <label for="inputBetTitle">What is this bet about?</label>
      <input type="text" class="form-control" id="bettitle" placeholder="Please enter a title for this bet">
    </div>
    <div class="form-group">
      <label for="inputBetOutcomes">What are the outcomes?</label>
      <input type="test" class="form-control" id="options" placeholder="Please separate your outcomes with commas">
    </div>
    <div class="form-group">
      <label for="inputOutcomeChanges">Give us some odds</label>
      <input type="number" class="form-control" id="wager" placeholder="Enter the odds for each outcome, separated with commas">
    </div>
    <div class="form-group">
      <label for="inputCutoff">When will the results be in?</label>
      <input class="form-control" placeholder="dd-mm-yyyy" name="dp" formControlName="due_date" navigation="arrows" ngbDatepicker #d="ngbDatepicker">
    </div>
    <button type="submit" class="btnRegister cool-gradient" id="submit" (click)="getFormData()">Create Bet</button>
  </form>
