<form>
  <h2>Create a Bet</h2>
    <div class="form-group">
      <label for="exampleInputPassword1">What is this bet about?</label>
      <input type="text" class="form-control" id="bettitle" placeholder="Please enter a name for this bet">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">What are the choices?</label>
      <input type="test" class="form-control" id="options" placeholder="Please seperate the choices with commas">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">How much are you wagering?</label>
      <input type="number" class="form-control" id="wager" placeholder="Please enter a dollar amount">
    </div>
    <button type="submit" class="btn btn-primary" id="submit" (click)="getFormData()">Create Bet</button>
  </form>
