
.heading{
    text-align: center;
}

.card{
    width: 50rem;
    margin: auto;
}

.profile{
    margin-top: 2%;
    margin-bottom: 1%; 
}

.contact{
    margin-bottom: 1%;
}

.payment{
    margin-top: 2%;
    margin-bottom: 1%;
}

.tab{
    margin-left: 3em;
}