<div class="heading">
    <h3>Personal Info</h3>
    <div>Basic info, like your name, photo, and payment info</div>
</div>
<div class="card profile">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Profile </li>
      <li class="list-group-item">Name<span class="tab">John Doe</span></li>
      <li class="list-group-item">Birthday<span class="tab">04/04/1994</span></li>
      <li class="list-group-item">Gender<span class="tab">Male</span></li>
      <li class="list-group-item">Password<span class="tab">• • • • • • • • • • </span></li>
    </ul>
  </div>
  <div class="card contact">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Contact info</li>
      <li class="list-group-item">Email</li>
      <li class="list-group-item">Phone</li>
    </ul>
  </div>
  <div class="card payment">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Payment Methods</li>
    </ul>
  </div>

