
<div> <!--https://stackoverflow.com/questions/16334722/angular-filter-and-order-elements-on-click do this later--> 
  <div class="tabs" ng-controller="tabsController">
  <ul class="nav nav-tabs" id="betlist-nav">
    <li class="nav-item">
      <a class="nav-link active" id="top-nav" (click)="tabNav('top')">Top</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="new-nav" (click)="tabNav('new')">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="you-nav" (click)="tabNav('you')">You</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="results-nav" (click)="tabNav('results')">Top results</a>
    </li>
  </ul>
</div>

<ngb-accordion [destroyOnHide]='false' [closeOthers]="true" activeIds="panel1">

  <ngb-panel *ngFor="let x of betlist">
     <ng-template ngbPanelTitle>
        <div class="bet-card">
          {{x.bets}} {{x.name}} {{x.user}} {{x.cutoff}}
        </div>
     </ng-template>
     <ng-template ngbPanelContent>
        {{x.description}}
     </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>