<div class="container betlist"> <!--https://stackoverflow.com/questions/16334722/angular-filter-and-order-elements-on-click do this later--> 
<ul class="nav nav-tabs" id="betlist-nav">
  <li class="nav-item">
    <a class="nav-link" id="top-nav" (click)="tabNav('top')">Top</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="new-nav" (click)="tabNav('new')">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="you-nav" (click)="tabNav('you')">You</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="results-nav" (click)="tabNav('results')">Top results</a>
  </li>
</ul>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Bets</th>
        <th scope="col">Title</th>
        <th scope="col">User</th>
        <th scope="col">Cutoff</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of betlist">
            <td>{{ x.bets }}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.user }}</td>
            <td>{{ x.cutoff }}</td>
        </tr>
    </tbody>
  </table>
</div>