
<div class="tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">
    <span id="die"><img src="assets/perspective-dice-six-faces-six.png" alt="">    </span>
    <div id="welcome">
        <h2 class="glitch" data-text="Welcome back...">Welcome back...</h2>
        <h2 class="glow">Welcome back...</h2>
    </div>
    <div class="row register-form">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control"  placeholder="Username *" value="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Password *" value="" />
            </div>
            <div>No account? <a routerLink="/join">Sign up here!</a></div>
            <input type="submit" class="btnRegister" value="Login"/>
        </div>
    </div>
</div>