
.sidebar{
  background-color: gray; 
  width : 20%;
  height: 800px;
  float: left;
}

.table {
  width: 50%;
  margin-left: 300px;
}

.subrow tr:hover {
  background-color: #F2F3F8;
}

.card{
  border-radius: 0px;
  width: 237px;
  height: 147px;
  margin-top: 2%;
  text-align: right;
}

.revenue{
  float: left;
  margin-left: 3%;
  margin-right: 1%;
}

.wins{
 float: left;
 margin-right: 1%;
}

.losses{
  float: left;
  margin-right: 1%;
}

.ranking{
  float: left;
  margin-right: 1%;

}

.table{
	margin: 0;
  padding: 0;
  position: absolute;
  top: 35%;
  margin-left: 23%;
}